@charset "UTF-8";
/* reste  s-- */
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body,
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}

* {
  text-decoration: none;
  list-style: none;
}

img {
  border: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline-style: none;
  /*FF*/
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration-line: underline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

button:active {
  position: relative;
  top: 1px;
  box-shadow: inset 1px 1px #333;
}

input,
button,
textarea {
  outline: none;
  border: none;
  transition: all .5s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.clearfix:after {
  clear: both;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}

.clearfix {
  zoom: 1;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

img {
  content: normal !important;
}

div {
  box-sizing: border-box;
}

/* reste  e-- */
/* 自定义  s-- */
#app {
  height: 100%;
}

a.router-link-exact-active {
  text-decoration: none;
}

.top-search {
  height: 104px;
  line-height: 104px;
  background-color: #efefef;
  text-align: center;
  position: relative;
}

.top-search img {
  position: absolute;
  left: 44px;
  top: 37px;
  width: 30px;
}

.top-search > input {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 6px 0px rgba(207, 207, 207, 0.5);
  width: 642px;
  height: 72px;
  padding-left: 60px;
  font-size: 28px;
}

.base-information {
  height: 58px;
  line-height: 58px;
  font-size: 24px;
  color: #666;
  text-indent: 20px;
}

.one-nav,
.many-nav {
  height: 96px;
  background-color: #ffffff;
  padding: 0 37px 0 50px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 30px;
  color: #333;
}

.one-nav img:first-child,
.many-nav img:first-child {
  width: 36px;
  margin-right: 40px;
}

.one-nav img:last-of-type,
.many-nav img:last-of-type,
.many-show-text img:last-of-type {
  position: absolute;
  right: 37px;
  width: 18px;
}

a.many-nav {
  height: 79px;
}

a.many-nav .line {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 718px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.41);
}

.many-show-text {
  height: 70px;
  background-color: #ffffff;
  padding: 0 37px 0 23px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 30px;
}

.many-show-text > span {
  font-size: 30px;
}

.many-show-text > span:nth-of-type(1) {
  width: 215px;
  color: #333333;
}

.many-show-text > span:nth-of-type(2) {
  color: #999;
}

.many-show-text .line {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 726px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.41);
}

div.my-borrowing,
div.overdue-book,
div.borrow-book-list,
div.my-serve {
  height: 100%;
  background-color: #efefef;
}
div.my-borrowing > ul:last-child,
div.overdue-book > ul:last-child,
div.borrow-book-list > ul:last-child,
div.my-serve > ul:last-child {
  margin-bottom: 0 !important;
}
div.my-borrowing .borrowing-book,
div.overdue-book .borrowing-book,
div.borrow-book-list .borrowing-book,
div.my-serve .borrowing-book {
  border-radius: 10px;
  background-color: white;
  width: 702px;
  height: 310px;
  box-sizing: border-box;
  margin: 0 auto 24px;
  padding: 0 20px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.my-borrowing .borrowing-book > li,
div.overdue-book .borrowing-book > li,
div.borrow-book-list .borrowing-book > li,
div.my-serve .borrowing-book > li {
  height: 40px;
  line-height: 40px;
  font-size: 26px;
}
div.my-borrowing .borrowing-book > li > span:nth-of-type(1),
div.overdue-book .borrowing-book > li > span:nth-of-type(1),
div.borrow-book-list .borrowing-book > li > span:nth-of-type(1),
div.my-serve .borrowing-book > li > span:nth-of-type(1) {
  color: #333333;
}
div.my-borrowing .borrowing-book > li > span:nth-of-type(2),
div.overdue-book .borrowing-book > li > span:nth-of-type(2),
div.borrow-book-list .borrowing-book > li > span:nth-of-type(2),
div.my-serve .borrowing-book > li > span:nth-of-type(2) {
  color: #666666;
}
div.my-borrowing .borrowing-book > li > span:nth-of-type(3),
div.overdue-book .borrowing-book > li > span:nth-of-type(3),
div.borrow-book-list .borrowing-book > li > span:nth-of-type(3),
div.my-serve .borrowing-book > li > span:nth-of-type(3) {
  float: right;
}
div.my-borrowing .borrowing-book > li > span:nth-of-type(3) > button,
div.overdue-book .borrowing-book > li > span:nth-of-type(3) > button,
div.borrow-book-list .borrowing-book > li > span:nth-of-type(3) > button,
div.my-serve .borrowing-book > li > span:nth-of-type(3) > button {
  border-width: 1px;
  border-color: #0b7fe5;
  border-style: solid;
  border-radius: 6px;
  width: 85px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  color: #0b7fe5;
  background-color: transparent;
}

/* 自定义  e-- */

/*# sourceMappingURL=public.css.map */
